/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {

}
  
  /**************************/
  /* BELOW 1200px (Landscape Tablets) */
  /**************************/
  
  @media (max-width: 75em) {
    html {
      /* 9px / 16px  */
      font-size: 56.25%;
      transition: all 0.5ms;
    }
  }
  
  /**************************/
  /* BELOW 944px (Tablets) */
  /**************************/
  
  @media (max-width: 59em) {
    html {
      /* 8px / 16px = 0.5 = 50% */
      font-size: 50%;
      transition: all 0.5ms;
    }
  }
  
  /**************************/
  /* BELOW 704px (Smaller tablets) */
  /**************************/
  
  @media (max-width: 44em) {
    .fa-bars::after, .fa-navicon::after {
      color: #fafafa;
      font-size: 2rem;
      content: "\f0c9" !important;
    }

    .nav-links {
      display: none;
    }

    .div-slider-nav {
      display: block;
    }

    .div-ul-links {
      display: none;
    }

    .div-dash-grid {
      grid-template-columns: repeat(1, 1fr);
    }

    /* Sign up Desgin */
    .div-sgin-up-box {
      height: 60rem;
      width: 42rem;
      transition: all 0.5ms;
    }

    .div-google-sgin-up {
      width: 12rem;
    }
    .div-apple-sgin-up {
      width: 12rem;
    }
    .div-discord-sgin-up {
      width: 12rem;
    }

    /* input Desgin */

    .div-input-username label {
      margin: 0 auto;
      width: 90%;
    }

    .div-input-username input {
      margin: 0 auto;
      width: 90%;
    }

    .div-input-email label {
      margin: 0 auto;
      width: 90%;
    }

    .div-input-email input {
      margin: 0 auto;
      width: 90%;
    }

    .div-input-password label {
      margin: 0 auto;
      width: 90%;
    }

    .div-input-password input {
      margin: 0 auto;
      width: 90%;
    }

    /* Bottons Login and Sgin up */

    .sgin-up-button-form {
      height: 4.2rem;
      width: 85%;
    }
    .link-create-account-sgin-up {
      height: 4.2rem;
      width: 85%;
    }

    /* Login Desgin */

    /* Sign up Desgin */
    .div-login-box {
      height: 60rem;
      width: 42rem;
      transition: all 0.5ms;
    }

    .div-google-login {
      width: 12rem;
    }
    .div-apple-login {
      width: 12rem;
    }
    .div-discord-login {
      width: 12rem;
    }

    .div-flex-login-checkbox-forget-password {
      width: 90%;
    }

    /* Bottons Login and Sgin up */

    .login-button-form {
      height: 4.2rem;
      width: 85%;
    }

    .link-create-account-login {
      height: 4.2rem;
      width: 85%;
    }

  }
  
  /**************************/
  /* BELOW 544px (Phones) */
  /**************************/
  
  @media (max-width: 34em) {

  }